extends layout

block content
  
  .container
    h2  #{tabName} 
    .pull-left.mgt-5
        button.btn.btn-info#addUser(type='button') 新增成员
    .pull-left.mgt-5
      form.form-inline.hide
        .form-group
          input.form-control#uname(type='text', name='name', placeholder='姓名')
        .form-group
          input.form-control#uphone(type='tel', name='phone', placeholder='电话')
        .form-group
          input.form-control#uphone(type='email', name='email', placeholder='邮箱')
        .form-group
          input.form-control#uphone(type='text', name='sex', placeholder='性别')
        .form-group
          input.form-control#ubirth(type='date', name='birthday', placeholder='生日')
        button.btn.btn-primary#subUser(type='button') 提交
    table.table.table-striped
      thead
        tr
          td 姓名
          td 手机
          td 邮件
          td 性别
          td 生日
          td 状态
      tbody 
        - each user in data
          tr
            td #{user.name}
            td #{user.phone} 
            td #{user.email}
            td #{user.sex}
            td #{user.birthday}
            td 在职
